/fast-math-trainer/fast-math-trainer.iml
/fast-math-trainer/target/classes/
/fast-math-trainer/target/generated-sources/
/fast-math-trainer/target/maven-archiver/
/fast-math-trainer/target/maven-status/
/fast-math-trainer/target/fast-math-trainer.jar
/fast-math-trainer/target/fast-math-trainer-1.0.0.jar
/target/transparent-window.pom
/study.iml
/.idea/libraries/
/.idea/
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/misc.xml
/transparent-window/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/fast-math-trainer/target/original-fast-math-trainer.jar
